<div class="container">
  <div class="col-lg-12">
    <label for="startingStation">From:
      <input  list='firstStationPicker' 
              name='startingStation' 
              class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <datalist id='firstStationPicker'>
        <option ng-repeat='station in vm.allStations' value="{{station}}">{{ station}}</option>
      </datalist>
    </label>
    <label for="endingStation">To:
      <input  list='lastStationPicker'
              name='endingStation'
              class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
      <datalist id='lastStationPicker'>
        <option ng-repeat='station in vm.allStations' value="{{station}}">{{ station}}</option>
      </datalist>
    </label>
  </div>
</div>