.trip {
	color: #494949;
}

.endpoint {
	margin-top: 10px;
	margin-bottom: 10px;	
}

#tripHeader {
	border-bottom: 1px solid #a0a0a0;
	padding-bottom: 20px;
}

#duration {
	color: #5B9D02;

}

#colorbox {
	width: 20px;
	height: 20px;
	background-color: red;
	float: left;
	padding-right: 10px;
	margin-right: 10px;
}