//make this sass later
input {	color: #333333 }

.heading { text-align: center; margin-top: 0px; margin-bottom: 10px; }
.directionsMessage { color: #777; text-align: center; margin-top: 50px;}

#lineDirection { margin-top: 20px; margin-bottom: 20px; }