<!--Pull this out into a directive later
<train-schedules>
</train-schedules>-->
<header class="hero-unit" id="banner">
  <h2>Find A Train</h2>
  <div class="col-lg-12">
    <label for="lineSelector">Line:
      <input  list='linePicker'
              name='lineSelector'
              class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
              ng-model='tempLine'
              ng-change='selectingATrainLine()'>
      <datalist id='linePicker'>
        <option ng-repeat='line in trainLineNames' value='{{ line.long_name }}'>{{ line.short_name }}</option>
      </datalist>
    </label>
  </div>
</header>

<div class="container">
  <select-train-schedule selected-line='selectedLine' time-table='activeTrainSchedule'></select-train-schedule>
</div>

<!--<div ng-click='download()' class='btn btn-success'>Click Me To Download</div>-->
