
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
	<!--<table class="table table-striped">
		<thead>
			<tr ng-repeat='stop in vm.lineSchedule.stations'>
				<th>{{ stop }}</th>
			</tr>
		</thead>
		<tr ng-repeat='stop in vm.lineSchedule.stop1'>
			<td>{{ stop }}</td>
		</tr>
	</table>-->
	<h3>Max Blue Line</h3>
	<!-- On Smaller screens show schedule horizontally-->
	<div ng-if='vm.horizontalView'>
		<!--For horizontal view select a departure time-->
		<label for="departureTime">Leaves at:
	      <input  list='selectTimes'
	              name='departureTime'
	              class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
	      <datalist id='selectTimes'>
	        <option ng-repeat='time in vm.times' value='{{ time }}'>{{ time }}</option>
	      </datalist>
	    </label>
	    <!--The Table-->
		<div class="row">
			<div class="col-xs-9 col-sm-10">Station</div>
			<div class="col-xs-3 col-sm-2">Time</div>
		</div>
		
	</div>
	<!-- On larger screens show the schedule vertically-->
	<div ng-if='!vm.horizontalView'>
		<div class="col-sm-2 col-md-2">#1</div>
		<div class="col-sm-2 col-md-2">#2</div>
		<div class="col-sm-2 col-md-2">#3</div>
		<div class="col-sm-2 col-md-2">#4</div>
		<div class="col-sm-2 col-md-2">#5</div>
		<div class="col-sm-2 col-md-2">#6</div>
	</div>
	

</div>

