
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
	<h3>The {{vm.selectedLine}}</h3>
	<div class="row">
		<div class="col-xs-5 col-sm-5 btn btn-primary">West Bound</div>
		<div class="col-xs-5 col-sm-5 pull-right btn btn-primary">East Bound</div>
	</div>
	<!-- On Smaller screens show schedule horizontally-->
	<div ng-if='vm.horizontalView'>
		<!--For horizontal view select a departure time-->
		<label for="departureTime">Leaves at:
	      <input  list='selectTimes'
	              name='departureTime'
	              ng-model='vm.selectedTime'
	              class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
	              >
	      <datalist id='selectTimes'>
	        <option ng-repeat='time in vm.times' value='{{ time }}'>{{ time }}</option>
	      </datalist>
	    </label>
	    <!--The Table-->
		<div class="row">
			<div class="col-xs-9 col-sm-10"><strong>STATION</strong></div>
			<div class="col-xs-3 col-sm-2"><strong>TIME</strong></div>
		</div>
		<div class="row" ng-repeat='station in vm.stationsOnLine'>
			<div class="col-xs-9 col-sm-10">{{station.heading}}</div>
			<div class="col-xs-3 col-sm-2">{{station.time}}</div>
		</div>
		
	</div>
	<!-- On larger screens show the schedule vertically-->
	<div ng-if='!vm.horizontalView'>
		<div class="row" ng-repeat='station in vm.stationsOnLine'>
			<div class="col-sm-3 col-md-3">{{station.heading}}</div>
		</div>
	
	</div>
	
</div>

