<h1>Where Would You Like To Go?</h1>

<div class="nav">
	<h3 id='navHeader'>Find A Route</h3>
		<div class="navFilter">
			<input list='departureStops' placeholder='Departes from...'>
				<datalist id='departureStops'></datalist>
			<input list='arrivalStops' id='arrivalStopsInput' placeholder="Arrives at...">
				<datalist id='arrivalStops'></datalist> 
		</div>
		<div class="navDisplay"></div>
</div>

<div class="sched">
	<h3 id='schedHeader'>Select A Train</h3>
		<div class="schedFilter">
			<input list='trainLines' id='trainLinesInput' placeholder="Red Line">
				<datalist id='trainLines'></datalist> 
		</div>
		<div class="schedDisplay"></div>
</div>