<h1>Where Would You Like To Go?</h1>

<div class="nav">
	<h3 id='navHeader'>Select A Route</h3>
		<div class="navFilter"></div>
		<div class="navDisplay"></div>
</div>

<div class="sched">
	<h3 id='schedHeader'>Select A Train</h3>
		<div class="schedFilter"></div>
		<div class="schedDisplay"></div>
</div>