<div>
	<!--Direction Of Travel-->
	<input type='text' list="direction" placeholder='{{direction}}' id="directionInput">
		<datalist name='direction' id='direction' >
			<option value="Westbound"></option>
			<option value="Eastbound"></option>
		</datalist>
	<!--Day Of The Week-->
	<input type='text' list="wkdays" placeholder='{{wkday}}' id="wkdayInput">
		<datalist name='wkdays' id="wkdays" >
			<option value="Monday"></option>
			<option value="Tuesday"></option>
			<option value="Wednesday"></option>
			<option value="Thursday"></option>
			<option value="Friday"></option>
			<option value="Saturday"></option>
			<option value="Sunday"></option>
		</datalist>
	<!--Time-->
	<input 	type='datetime-local' 
			format="hh:mm"
			placeholder="{{time}}" 
			id='timeInput'>
		<!--<datalist name='time' id="time">
			<option value="4:00pm"></option>
			<option value="5:00pm"></option>
			<option value="6:00pm"></option>
			<option value="7:00pm"></option>
			<option value="8:00pm"></option>
			<option value="9:00pm"></option>
			<option value="10:00pm"></option>
		</datalist>-->
</div>

