<div>
	 
	<!--Direction Of Travel-->
	<input type='text' list="direction" placeholder='{{allDirections.default}}' id="directionInput">
		<datalist name='direction' id='direction' >
			{{#if allDirections.Northbound}}<option value="Northbound"></option>{{/if}}
			{{#if allDirections.Eastbound}}<option value="Eastbound"></option>{{/if}}
			{{#if allDirections.Southbound}}<option value="Southbound"></option>{{/if}}
			{{#if allDirections.Westbound}}<option value="Westbound"></option>{{/if}}
			{{#if allDirections.Clockwise}}<option value="Clockwise"></option>{{/if}}
			{{#if allDirections.Counter-Clockwise}}<option value="Counter-Clockwise"></option>{{/if}}
			
		</datalist>
	<!--Day Of The Week-->
	<input type='text' list="wkdays" placeholder='{{wkday}}' id="wkdayInput">
		<datalist name='wkdays' id="wkdays" >
			<option value="Monday"></option>
			<option value="Tuesday"></option>
			<option value="Wednesday"></option>
			<option value="Thursday"></option>
			<option value="Friday"></option>
			<option value="Saturday"></option>
			<option value="Sunday"></option>
		</datalist>
	<!--Time-->
	<input 	type="time" 
			placeholder="{{time}}"
			value="{{time}}"
			id='timeInput'>
</div>

