<div id='schedFilterOptions'>
	<!--Direction Of Travel-->
	<input type='text' list="direction" placeholder='{{direction.safe}}' id="directionInput">
		<datalist name='direction' id='direction' >
			{{#if dirOptions.Northbound}}<option value="Northbound"></option>{{/if}}
			{{#if dirOptions.Eastbound}}<option value="Eastbound"></option>{{/if}}
			{{#if dirOptions.Southbound}}<option value="Southbound"></option>{{/if}}
			{{#if dirOptions.Westbound}}<option value="Westbound"></option>{{/if}}
			{{#if dirOptions.Clockwise}}<option value="Clockwise"></option>{{/if}}
			{{#if dirOptions.Counter-Clockwise}}<option value="Counter-Clockwise"></option>{{/if}}
			
		</datalist>
	<!--Day Of The Week-->
	<!--<input type='text' list="wkdays" placeholder='{{wkday}}' id="wkdayInput">
		<datalist name='wkdays' id="wkdays" >
			<option value="Monday"></option>
			<option value="Tuesday"></option>
			<option value="Wednesday"></option>
			<option value="Thursday"></option>
			<option value="Friday"></option>
			<option value="Saturday"></option>
			<option value="Sunday"></option>
		</datalist>-->
	<!--Time-->
	<input 	type="time" 
			placeholder="{{time}}"
			value="{{time}}"
			id='timeInput'>
</div>

