<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ttRow" id="{{stationId}}">
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><strong>{{stop_name}}</strong></div>
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">{{time}}</div>
</div>
<div class="footer"></div>